/* Downloads Section */
.app-downloads {
    width: 50%;
    float: right;
}

.app-downloads > h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.app-download-item {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 60%; 
    margin: auto; 
}

.app-download-item > p {
    margin-right: auto; 
    font-weight: 500;
}

.app-download-item button {
    font-family: 'Montserrat';
    font-weight: 700;

    background-color: rgb(96, 197, 168);
    border-radius: 5%;
    border: 2px solid rgb(0, 140, 119);
    outline: none;
    box-shadow: none;
    width: 140%;
}

/* Explanation of downloads */
.downloads-explanation {
    width: 50%;
    float: left;
}

.downloads-explanation > h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.downloads-explanation > p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 115%;
}

/* Legacy Section */
.legacy-section {
    width: 100;
    margin-top: 100px;
}

.legacy-explanation {
    width: 50%;
    float: left;
}
.legacy-explanation > h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.legacy-explanation > p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 115%;
}

.legacy-download {
    width: 50%;
    float: right;
}
.legacy-download button {
    font-family: 'Montserrat';
    font-weight: 700;

    background-color: rgb(96, 197, 168);
    border-radius: 5%;
    border: 2px solid rgb(0, 140, 119);
    outline: none;
    box-shadow: none;
    width: 140%;
}
.legacy-download > p {
    margin-right: auto; 
    font-weight: 500;
}
.legacy-download-item {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 60%; 
    margin: auto; 
}
.legacy-download > h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}